@model ToDoTask.Models.Task
<div class="container p-4 d-flex justify-content-center flex-column align-items-center" style="width: 100%;">
    <h1 style="color:#ccc;">Update-This-Task</h1>

    <form action="/Task/Edit" method="post" class="m-2" style="width: 50%;">

        <div class="mb-3">
            <input asp-for="Id" type="hidden"  />
            <input asp-for="UserId" type="hidden" />

            <label asp-for="Title" class="form-label text-white">Title</label>
            <input class="form-control bg-dark text-white" asp-for="Title" placeholder="Title..." />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label text-white">Description</label>
            <input class="form-control bg-dark text-white" asp-for="Description" placeholder="Description..." />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Deadline" class="form-label text-white">Deadline</label>
            <input class="form-control bg-dark text-white" asp-for="Deadline" placeholder="Deadline..." />
            <span asp-validation-for="Deadline" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select class="form-select" asp-for="type">
                @foreach (var type in ViewBag.types)
                {
                    <option value="@(type.GetHashCode())">@type</option>
                }

            </select>
        </div>

        <button type="submit" class="btn btn-outline-light">Update</button>
    </form>
</div>
